.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
}

.dark {
  background-color: #ccc;
  height: 250px;
  width: 250px;
}

.dark:hover {
  filter: brightness(85%);
}

.dark:active {
  background-color: #00ff00;
}
